* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins";
  outline: none;
  -webkit-tap-highlight-color: white;
}

body {
  min-height: 199px;
}

.navbar {
  height: 40vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 90px auto 45px;
      grid-template-rows: 90px auto 45px;
}

.navbar .navbarUpper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbarUpper .title {
  margin-top: 2vh;
  color: white;
  font-weight: bold;
  margin-left: 1em;
  padding: 1vh 4vw;
  border-radius: 10px;
  display: block;
  background: opacity(0.5);
}

.navbar .navbarUpper .title h1 {
  text-align: center;
}

.navbar .navbarUpper .dateAndWeather {
  margin-right: 5vw;
}

.navbar .navbarUpper .dateAndWeather .date {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.navbar .navbarUpper .dateAndWeather .weatherInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbarUpper .dateAndWeather .weatherInfo img {
  height: 25px;
  width: 25px;
}

.navbar .navbarUpper .dateAndWeather .weatherInfo p {
  font-size: 20px;
}

.navbar .calendar {
  position: relative;
  margin: 0 3vw;
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.navbar .calendar .calendarWeekDays {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.navbar .calendar .calendarWeekDays li {
  list-style: none;
  padding: 3px;
  padding-bottom: 5px;
}

.navbar .calendar .calendarWeekDays li h1 {
  font-size: 15px;
  color: white;
}

.navbar .calendar .calendarWeekDays li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar .calendar .calendarWeekDays li div div {
  content: none;
  height: 5px;
  width: 5px;
  background: white;
  border-radius: 50%;
}

.input {
  margin-top: 3vh;
  padding: 0 5vw;
  height: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 100vw;
}

.input input {
  padding: 5px;
  border: none;
  background: #e7e7e7;
  border-radius: 20px;
  height: 100%;
}

.input .textInput {
  padding: 5px 10px;
  width: 60vw;
}

.input .inputDateDiv {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input .inputDateDiv .dateInput {
  text-align: center;
  width: 15vw;
}

.input .inputDateDiv .listOfDay {
  width: 15vw;
  margin-top: 20px;
  position: absolute;
  text-align: center;
  opacity: 0;
  background: #e7e7e7;
  border-radius: 10px;
  display: none;
}

.input .inputDateDiv .listOfDay ul {
  margin-bottom: 0.5em;
}

.input .inputDateDiv .listOfDay ul li {
  cursor: pointer;
  list-style: none;
  font-size: 20px;
  margin-top: 0.5em;
}

.input button {
  cursor: pointer;
  border: none;
  width: 34px;
  height: 34px;
  background: -webkit-gradient(linear, right top, left bottom, from(#d978f4), color-stop(#959bff), color-stop(#3bb4ff), color-stop(#00c4ff), to(#12cfeb));
  background: linear-gradient(to left bottom, #d978f4, #959bff, #3bb4ff, #00c4ff, #12cfeb);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input button img {
  height: 70%;
  width: 70%;
}

.separatorAddPost {
  height: 20px;
}

.posts {
  height: 80px;
  -webkit-filter: drop-shadow(0px 0px 10px #d4d4d4);
          filter: drop-shadow(0px 0px 10px #d4d4d4);
}

.posts .postDiv {
  height: 100%;
  margin: 0 5%;
  padding: 2% 5%;
  padding-left: 4%;
  border-radius: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #dddddd;
}

.posts .postDiv .lineaSinistra {
  content: "";
  height: 50px;
  width: 2px;
  background: #727272;
}

.posts .postDiv .scritte {
  height: 100%;
  display: -ms-grid;
  display: grid;
  width: 75%;
  -ms-grid-rows: 10px 15px auto;
      grid-template-rows: 10px 15px auto;
  padding-left: 1%;
}

.posts .postDiv .scritte .descrizione {
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.posts .postDiv .scritte .descrizione p {
  line-height: 17px;
}

.posts .postDiv .modifica {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 17%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posts .postDiv .modifica img {
  height: 25px;
}

.posts .postDiv .modifica .elimina,
.posts .postDiv .modifica .fatto {
  height: 25px;
}
/*# sourceMappingURL=style.css.map */