* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins";
}

.navbar {
  height: 40vh;
}

.navbar .navbarUpper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbarUpper .title {
  margin-top: 2vh;
  color: white;
  font-weight: bold;
  margin-left: 1em;
  padding: 1vh 4vw;
  border-radius: 10px;
  display: block;
  background: opacity(0.5);
}

.navbar .navbarUpper .title h1 {
  text-align: center;
}

.navbar .navbarUpper .date {
  color: white;
  font-size: 25px;
  margin-right: 5vw;
  font-weight: bold;
}

.navbar .calendar .calendarWeekDays {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 3vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 23vh;
}

.navbar .calendar .calendarWeekDays li {
  list-style: none;
  padding: 3px;
  padding-bottom: 5px;
}

.navbar .calendar .calendarWeekDays li h1 {
  font-size: 15px;
  color: white;
}

.navbar .calendar .calendarWeekDays li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar .calendar .calendarWeekDays li div div {
  content: none;
  height: 5px;
  width: 5px;
  background: white;
  border-radius: 50%;
}

.input {
  margin-top: 3vh;
  padding: 0 5vw;
  height: 4vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 100vw;
}

.input input {
  padding: 5px;
  border: none;
  background: #e7e7e7;
  border-radius: 20px;
  height: 100%;
}

.input .textInput {
  padding: 5px 10px;
  width: 60vw;
}

.input .inputDateDiv {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input .inputDateDiv .dateInput {
  text-align: center;
  width: 15vw;
}

.input .inputDateDiv .listOfDay {
  width: 15vw;
  margin-top: 20px;
  position: absolute;
  text-align: center;
  opacity: 0;
  background: #e7e7e7;
  border-radius: 10px;
}

.input .inputDateDiv .listOfDay ul {
  margin-bottom: 0.5em;
}

.input .inputDateDiv .listOfDay ul li {
  cursor: pointer;
  list-style: none;
  font-size: 20px;
  margin-top: 0.5em;
}

.input button {
  cursor: pointer;
  border: none;
  width: 34px;
  height: 34px;
  background: -webkit-gradient(linear, right top, left bottom, from(#d978f4), color-stop(#959bff), color-stop(#3bb4ff), color-stop(#00c4ff), to(#12cfeb));
  background: linear-gradient(to left bottom, #d978f4, #959bff, #3bb4ff, #00c4ff, #12cfeb);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input button img {
  height: 70%;
}
/*# sourceMappingURL=style.css.map */